
    body {
      font-family: Calibri;
      background-color:#f9fb66;
    }
    h1 {
      font-family: Arial;
      font-size: 50pt;
      color:#f00;
    }
    .regpara {
      font-style: normal;
    }
    .italpara {
      font-style: italic;
    }
    .boldpara {
      font-weight: bold;
    }

    #div1 {
      width: 150px;
      height: 150px;
      text-align: center;
      line-height: 150px;
      background-color: #ffd800;
      position: relative;
      float: left;
    }
    #div2 {
      width: 150px;
      height: 150px;
      text-align: center;
      line-height: 150px;
      background-color: #ff6a00;
      position: relative;
      float: left;
    }
    #output {
      font-family: Consolas;
      font-size: 20pt;
    }

